<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am currently pursuing a Masters of Science in Computer Science at University of Wisconsin-Madison. I have completed my Bachelors in Computer Science
            from VIT University, Vellore, India and have worked with Morgan Stanley out of their Bengaluru office in India as a Full Stack Developer focussing on Java 
            and Angular. My expertise lies in building scalable products and this includes database optimization, API services, batch & stream processing as well as conceptualizing
            UI and UX design.
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for an individual contributor role where I can take on on collaborative
           team leadership responsibilites, and gain experience with designing core software
           architecture from scratch.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Migrated a complex PB Custody project at Morgan Stanley from Flex to Java & Angular which yielded improvements of around 150% in terms of load time for much larger
            number of records than possible previously. Awarded the <b>Best Team Award </b> on an international level in the Institutional Securities Tech division for performance.
    			</li>
          <li>
            Interned at Bharti Airtel, Gurugram, India where I developed the prototype IoT model for their B2B wing and worked on a systematic data warehousing algorithm
            which yielded an improvement in storage efficiency of around 25%. Also modified the MQTT header format which when coupled with an interval based scheduling algorithm
            allowed for support to 25,000+ devices on the network.
          </li>
          <li>
            Was ranked 1st amongst the entire batch of 750 students at VIT University, Vellore during Academic Year 2014-15.
          <li>
            Presented "Privacy & Security in Aadhaar" at the 16th International Conference on Science, Engineering & Technology held in April 2018.
    			<li>
            Published 3 research papers:
            <ul>
              <li>
                Privacy & Security in Aadhaar
              </li>
              <li>
                Effective Object Recognition using Convolution Neural Network Theorem
              </li>
              <li>
                Internet of Things & Creation of the Fifth V of Big Data 
              </li>
            </ul>
    			</li>
    			<li>
            Awarded patent for novel approach to item normalization in 3rd party catalog data feeds.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
