<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My core areas of interests include:
        </p>
			<ul>
			  <li>
				 <b>Algorithms & Data Structures</b>. In my opinion, these are the building blocks of every software out there today! I am proficient in C++ & Java and am 
				 always on the lookout to enhance my knowledge on how to maximise efficiency and reduce complexity. I have a growing interest in how to leverage concurrency and 
				 multithreading to build faster products.
			  </li>
			  <li>
				  <b>Databases</b>. You always start from the data layer when trying to build faster and scalable software products. I have a keen interest in database normalization
				  to help reduce data access time.
			  </li>
			  <li>
				  <b>Data Science & Machine Learning</b>. I wouldn't call myself an expert in this, but I am well versed with the basics of data science (preprocessing, processing and
				  visualization) and machine learning (classification, regression, clustering, etc). I have worked on a few projects in these domains
				  and published a few papers as well! I am excited by the kind of new opportunities that ML and AI bring to the fore with respect to traditional software products.
      		  </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Project Work</h3>
		  <ul>
  			<li>
		  <b>JustHire website</b>: Full Stack Development of a tool aimed to easen the process of taking technical interviews. Helped pick questions dynamically on the basis 
		  of performance of the candidate. Used Java and Angular.
    		</li>
  			<li>
		  <b>Data Breach Analysis & Virtual ID for Aadhaar</b>: Cleaned and analysed records of data breaches from 2004 to 2017. Used PCA to identify critical factors. Developed
		  a simulation of Virtual ID, which was conceptualized as an added layer of protection to the Aadhaar authentication system.
			  </li>
			  <li>
				  <b>Twitter Sentiment Analysis Using R</b>: Achieved 62% accuracy in predicting the election results of the 2016 United States Presidential Election by combining 
				  lexical analysis and Bayesian classification - an improvement of over 26% when compared to application of singular Bayesian classification.
			  </li>
			  <li>
				  Please refer my <a href = "https://www.linkedin.com/in/shauryashekhar/">LinkedIn </a> for a more comprehensive list of projects!
			  </li>
  		    </ul>
  		    <h3>What Else?</h3>
  		    <ul>
  			<li>
           Avid Reader
  			</li>
  			<li>
  		   Highly opinionated on things like economics and world politics.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
